.button{
    height: 3rem;
    padding: 0 20px;
    background-color: rgb(82, 146, 82);
    color: #fff;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 500;
}